<!-- Getting the details for each actor -->

<h1>Actor #<%= @the_actor.id %> details</h1>

<a href="/actors">Go back</a>

<hr>

<dl> <!--HTML Description List-->
  <dt>Name</dt> <!--HTML Description Title-->
  <dd><%= @the_actor.name %></dd> <!--HTML Description Data-->

  <dt>Dob</dt>
  <dd><%= @the_actor.dob %></dd>

  <dt>Bio</dt>
  <dd><%= @the_actor.bio %></dd>

  <dt>Image</dt>
  <dd><img src="<%= @the_actor.image %>"></dd>

  <dt>Created at</dt>
  <dd><%= @the_actor.created_at%></dd>

  <dt>Updated at</dt>
  <dd><%= @the_actor.updated_at%></dd>

</dl>

<!-- Getting the filmography of each actor-->

<h1>Filmography</h1>

<!--Getting the characters for each actor -->
<% matching_characters = Character.where({ :actor_id => @the_actor.id }) %>

<table border="1">

  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
  </tr>

<% matching_characters.each do |a_character| %>
  <tr>
    <% matching_movies = Movie.where({ :id => a_character.movie_id }) %> <!--Getting the movie for each character-->
    <% the_movie = matching_movies.at(0) %>
    <td><%= the_movie.title %></td>
    <td><%= the_movie.year %></td>

    <td><%= a_character.name %></td>
    <td>
      <a href="/movies/<%= the_movie.id %>">
        Show details
      </a>
    </td>
    
    <td>
      <% matching_directors = Director.where({ :id => the_movie.director_id }) %> <!--Getting the director for each movie-->
      <% the_director = matching_directors.at(0) %>
      <%= the_director.name %>
    </td>

  </tr>
<% end %>



</table>
